:root {
    --color-hover: #00008B;
    --color-active: #584fa9;

    --color-decor: #7E72F2;
    --color-base: #FFFFFF;
}

.wrapper-butto-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.butto-clear {
    width: 280px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: var(--color-decor);
    font-size: 14px;
    color: var(--color-base);
    cursor: pointer;
}

.butto-clear:hover {
    background: var(--color-hover);
    transition: .5s;
}
.butto-clear:active {
    background: var(--color-active);
    transition: none;
}